## Global ignores

*/build/*
*/cfme/build/*
*/miq/build/*
*/publish/*
*/tmp/*
*.swp

## AsciiBinder-specific ignores
_preview
_package
*.swp
diag-*.png
diag-*.png.cache

## Project-specific ignores
Gemfile.lock

## Mac file store
.DS_Store
