
@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    border: 0 none;
/* this breaks the portal menus & header
    font-family: inherit;
*/
    font-size: 100%;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
#main, #main > .chapter, div.admonition_header p, #main > .section {
    font-size: 14px !important;
    color: #1A1A1A;
}

ol, ul {
/* this breaks procedures etc */
/*    list-style: none outside none; */
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: none;
}
a img {
    border: medium none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
@font-face {
    font-family: "redhat-books-icons";
    font-style: normal;
    font-weight: normal;
    src: url("../icons/redhat-books-icons-a2efd68d1f13be356c9c4e5c29a64e69.eot?#iefix") format("embedded-opentype"), url("../icons/redhat-books-icons-a2efd68d1f13be356c9c4e5c29a64e69.woff") format("woff"), url("../icons/redhat-books-icons-a2efd68d1f13be356c9c4e5c29a64e69.ttf") format("truetype"), url("../icons/redhat-books-icons-a2efd68d1f13be356c9c4e5c29a64e69.svg?#redhat-books-icons") format("svg");
}

#main [class^="icon-"]:before,
#main [class*=" icon-"]:before {
    display: inline-block;
    font-family: "redhat-books-icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    text-transform: none;
}
.note:before, .important:before, .warning:before {
    content: "" !important;
    padding: 0px !important;
}

.icon-arrow-left:before, .docnav .previous a:before {
    content: "" !important;
}
.icon-arrow-right:before, .docnav .next a:before {
    content: "" !important;
}
.icon-book:before {
    content: "" !important;
}
.icon-support:before, .RoleCreateBugPara a:before {
    content: "" !important;
}
.icon-warning:before, .warning:before {
    content: "" !important;
}
.buttons, #title, .docnav {
    clear: both;
    display: block;
}
ul.docnav {
    margin: auto !important;
}
.pageSelect, .doctoc {
    width: 80%;
}

.buttons:before, #title:before, .docnav:before, .buttons:after, #title:after, .docnav:after {
    content: "";
    display: table;
}
.buttons:after, #title:after, .docnav:after {
    clear: both;
}
.pill {
    -moz-appearance: none;
    border: medium none;
    border-radius: 0.15em;
    box-sizing: border-box;
    display: inline-block;
    font-size: 100%;
    line-height: 1.8em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    outline: 0 none;
    padding: 0.45em 0.9em;
    position: relative;
    text-align: center;
}
.border-heavy-solid {
    border-style: solid;
    border-width: 0.45em;
}
.border-medium-solid {
    border-style: solid;
    border-width: 0.225em;
}
.border-light-solid {
    border-style: solid;
    border-width: thin;
}
.border-top-heavy-solid {
    border-top-style: solid;
    border-top-width: 0.45em;
}
.border-top-medium-solid {
    border-top-style: solid;
    border-top-width: 0.225em;
}
.border-top-light-solid {
    border-top-style: solid;
    border-top-width: thin;
}
.border-bottom-heavy-solid {
    border-bottom-style: solid;
    border-bottom-width: 0.45em;
}
.border-bottom-medium-solid {
    border-bottom-style: solid;
    border-bottom-width: 0.225em;
}
.border-bottom-light-solid {
    border-bottom-style: solid;
    border-bottom-width: thin;
}
@font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/overpass_regular-web.eot?#iefix") format("embedded-opentype"), url("../fonts/overpass_regular-web.woff") format("woff"), url("../fonts/overpass_regular-web.ttf") format("truetype"), url("../fonts/overpass_regular-web.svg#OverpassRegular") format("svg");
}
@font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/overpass_bold-web.eot?#iefix") format("embedded-opentype"), url("../fonts/overpass_bold-web.woff") format("woff"), url("../fonts/overpass_bold-web.ttf") format("truetype"), url("../fonts/overpass_bold-web.svg#OverpassBold") format("svg");
}
@font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/overpass_light-web.eot?#iefix") format("embedded-opentype"), url("../fonts/overpass_light-web.woff") format("woff"), url("../fonts/overpass_light-web.ttf") format("truetype"), url("../fonts/overpass_light-web.svg#overpasslight") format("svg");
}
#main {
    color: #1A1A1A;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 100%;
    line-height: 1.8em;
    text-rendering: optimizelegibility;
}

#breadcrumbs ul li {
    margin-top: 1em;

}

p, .para, .formalpara {
    margin-bottom: 1.8em;
}
p:empty, .para:empty {
    margin-bottom: 0;
}
em, i, cite, .package, .citetitle {
    font-style: italic;
}
b, strong {
    font-weight: 700;
}
small {
    font-size: 0.8em;
}
s {
}
u {
    text-decoration: underline;
}
q:before {
    content: "\"";
}
q:after {
    content: "\"";
}
abbr {
    border-bottom: thin dotted;
    cursor: help;
}
sub {
    bottom: -0.3em;
    font-size: 0.8em;
    position: relative;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.45em;
}
mark {
    background-color: #5BC6E8;
}
ins {
    background-color: #7AB800;
}
del {
    background-color: #A30000;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #555555 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 0.125em medium medium;
    height: 0;
    margin-bottom: 1.8em;
    margin-top: 1.8em;
    width: 3em;
}
pre, code, var, samp, kbd, .keycap, .command, .filename, .classname, .literal {
    font-family: "Menlo","Monaco","Courier New",monospace;
}
kbd, .keycap {
    -moz-appearance: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #E6E6E6;
    border-radius: 0.15em;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 90%;
    line-height: 1.8em;
    margin: 0 0.25em;
    outline: 0 none;
    padding: 0 0.5em;
    position: relative;
    text-align: center;
}
p code, .para code {
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.125em;
    padding: 0 0.25em;
}
pre {
    background: none repeat scroll 0 0 #333333;
    border-radius: 0.25em;
    color: #CCCCCC;
    margin-bottom: 1.7em;
    padding: 0.9em 1.8em;
    white-space: pre-wrap;
    word-break: break-word;
}
p pre, .para pre {
    margin-top: 1.8em;
}
.perl_Char {
    color: #FFA500;
}
.perl_Comment {
    color: #4D4D4D;
}
.perl_DataType {
    color: #F08080;
}
.perl_DecVal {
    color: #A0522D;
}
.perl_Error {
    color: #A30000;
}
.perl_Float {
    color: #87CEFA;
    font-weight: 600;
}
.perl_Keyword {
    color: #FFA07A;
}
.perl_String {
    color: #FAFAD2;
}
.perl_Variable {
    color: #F1C000;
}
.perl_Warning {
    color: #EC7A08;
}
h1, h2, h3, h4, h5, h6, .formalpara > .title, .para > .title, .titlepage .edition {
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 1.2em;
    margin-top: 1.8em;
    text-transform: uppercase;
}
h2 {
    font-size:24.5px;
    line-height: 1.54286em;
    margin-bottom: 1.02857em;
    margin-top: 2.05714em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
    margin-top: 2.4em;
}
h4, .formalpara > .title, .para > .title {
    font-size: 1.25em;
    line-height: 1.44em;
    margin-bottom: 1.44em;
    margin-top: 2.88em;
}
h5 {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1.8em;
    margin-top: 3.6em;
}
h6 {
    font-size: 0.8em;
    line-height: 1.6875em;
    margin-bottom: 2.25em;
    margin-top: 4.5em;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
    margin-top: 0;
}
header h1:last-child, header h2:last-child, header h3:last-child, header h4:last-child, header h5:last-child, header h6:last-child {
    margin-bottom: 0;
}

div.subtitle, h2.subtitle, h3.subtitle {
    font-size: 24.5px;
    text-align: left;
}
.formalpara > .title, .para > .title {
    line-height: 1.44;
}
[data-icon], [class*="icon-"], .docnav .previous a, .docnav .next a, .warning {
    font-family: inherit;
}

#main [data-icon]:before,
#main [class*="icon-"]:before,
#main .docnav .previous a:before,
#main .docnav .next a:before,
#main .warning:before {
    font-family: "redhat-books-icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 0.5em;
    text-transform: none;
}
.icon-only {
    display: inline-block;
    height: 1.8em;
    line-height: 1.8em;
    overflow: hidden;
    position: relative;
    text-indent: 9999em;
    vertical-align: middle;
    white-space: nowrap;
    width: 1.8em;
}
.icon-only:before {
    height: 1.8em;
    left: 50%;
    line-height: 1.8em;
    margin: -0.9em;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 50%;
    width: 1.8em;
}
.icon-position-left {
    padding-left: 2.7em;
    position: relative;
}
.icon-position-left:before {
    display: block;
    left: 0;
    line-height: 1.8em;
    position: absolute;
    width: 1.8em;
}
.icon-position-right {
    padding-right: 2.7em;
    position: relative;
}
.icon-position-right:before {
    display: block;
    line-height: 1.8em;
    position: absolute;
    right: 0;
    width: 1.8em;
}
ul, ol {
    margin-top: 0;
    padding: 0;
}
ol, ul:not(.no-dot) {
    margin-bottom: 1.8em;
}
ol > li, ul:not(.no-dot) > li {
    display: block;
    list-style: none outside none;
    padding-left: 1.5em;
    position: relative;
}
ol > li:before,ul:not(.no-dot) > li:before {
    font-weight: bold;
    left: 0;
    line-height: 1.8em;
    position: absolute;
    top: 0;
    width: 1em;
}
ol > li ul > li:before, ul:not(.no-dot) > li ul > li:before {
    content: "-";
}
ul:not(.no-dot) > li:before {
    content: "•";
}
ol {
    counter-reset: item;
    list-style: decimal outside none;
}
ol > li:before {
    content: counter(item, decimal) ". ";
    counter-increment: item;
}
dl {
    margin-bottom: 1.8em;
}
dl dt {
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    font-weight: 600;
}
dl dd {
    padding-left: 1.35em;
}
.para .itemizedlist {
    margin-top: 1.8em;
}
a, a:link, a:visited, .docnav a:link, .docnav a:visited {
    color: #CC0000;
}

.docnav a, .docnav a strong, .docnav a:hover {
    color: #CC0000 !important;
}
a:hover {
    color: #800000;
}
a:active {
    color: #4D0000;
}
a:visited {
    color: #FF1A1A;
}
.book a, main a {
    color: #CC0000;
    text-decoration: none;
}
.book a:hover, main a:hover {
    color: #800000;
}
.book a:active, main a:active {
    color: #4D0000;
}
.book a:visited, main a:visited {
    color: #FF1A1A;
}
footer a {
    color: #CC0000;
}
footer a:hover {
    color: #800000;
}
footer a:active {
    color: #4D0000;
}
footer a:visited {
    color: #FF1A1A;
}
.RoleCreateBugPara a:before {
    background-color: #E6E6E6;
    border-radius: 50%;
    color: #333333;
    display: inline-block;
    font-family: 'redhat-books-icons';
    font-size: 3em;
    line-height: 1.2006em;
    margin-right: 0.25em;
    text-align: center;
    vertical-align: middle;
    width: 1.2006em;
}
.button, button, input[type="submit"], input[type="button"] {
    -moz-appearance: none;
    background-color: #333333;
    border: medium none #1A1A1A;
    border-radius: 0.15em;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 100%;
    font-weight: 600;
    height: auto;
    line-height: 1.8em;
    margin: 0;
    outline: 0 none;
    padding: 0.45em 0.9em;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #1A1A1A;
    border-color: #0D0D0D;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.active.button, button.active, input.active[type="submit"], input.active[type="button"], .button:active, button:active, input[type="submit"]:active, input[type="button"]:active {
    background-color: #4D4D4D;
    border-color: #333333;
    color: #FFFFFF;
}
.button[disabled="disabled"], button[disabled="disabled"], input[disabled="disabled"][type="submit"], input[disabled="disabled"][type="button"], .button[disabled="disabled"]:hover, button[disabled="disabled"]:hover, input[disabled="disabled"][type="submit"]:hover, input[disabled="disabled"][type="button"]:hover, .button[disabled="disabled"]:active, button[disabled="disabled"]:active, input[disabled="disabled"][type="submit"]:active, input[disabled="disabled"][type="button"]:active {
    cursor: default;
    opacity: 0.5;
}
.icon-only.button, button.icon-only, input.icon-only[type="submit"], input.icon-only[type="button"] {
    height: 1.8em;
    padding: 0;
    width: 1.8em;
}
input[type="submit"], button[type="submit"] {
    background: none repeat scroll 0 0 #CC0000;
}
input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #800000;
}
.buttons .button, .buttons button, .buttons input[type="submit"], .buttons input[type="button"] {
    border-left: thin solid rgba(0, 0, 0, 0.25);
    border-radius: 0;
    float: left;
    margin: 0;
}
.buttons .button:focus, .buttons button:focus, .buttons input[type="submit"]:focus, .buttons input[type="button"]:focus {
    outline: 0 none;
}
.buttons .button:first-child, .buttons button:first-child, .buttons input[type="submit"]:first-child, .buttons input[type="button"]:first-child {
    border-bottom-left-radius: 0.15em;
    border-left-width: 0;
    border-top-left-radius: 0.15em;
}
.buttons .button:last-child, .buttons button:last-child, .buttons input[type="submit"]:last-child, .buttons input[type="button"]:last-child, .buttons .last-child.button, .buttons button.last-child, .buttons input.last-child[type="submit"], .buttons input.last-child[type="button"] {
    border-bottom-right-radius: 0.15em;
    border-top-right-radius: 0.15em;
}
input[type="text"], input[type="search"], input[type="tel"], input[type="email"], input[type="password"], input[type="url"], input[type="date"], input[type="datetime"], input[type="time"], input[type="number"], input[list], textarea {
    -moz-appearance: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 0.15em;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #000000;
    display: block;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 1.8em;
    margin-top: 0;
    outline: 0 none;
    padding: 0.3em 0.45em;
    position: relative;
    text-align: left;
    transition: border-color 0.5s ease 0s;
    width: 100%;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="time"]:focus, input[type="number"]:focus, input[list]:focus, textarea:focus {
    background-color: #FFFFFF;
    border-color: #004153;
    color: #000000;
}
input[type="text"]:focus:hover, input[type="search"]:focus:hover, input[type="tel"]:focus:hover, input[type="email"]:focus:hover, input[type="password"]:focus:hover, input[type="url"]:focus:hover, input[type="date"]:focus:hover, input[type="datetime"]:focus:hover, input[type="time"]:focus:hover, input[type="number"]:focus:hover, input[list]:focus:hover, textarea:focus:hover {
    background-color: #FFFFFF;
    border-color: #004153;
    color: #000000;
}
input[type="text"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="url"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="time"]:hover, input[type="number"]:hover, input[list]:hover, textarea:hover {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    color: #F2F2F2;
}
:-moz-placeholder {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
}
*::-moz-placeholder {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
}
img {
    display: block;
    max-width: 100%;
    width: auto;
}
.para .mediaobject {
    margin-top: 1.8em;
}
.inlinemediaobject {
    display: inline-block;
    line-height: 1.8em;
}
.inlinemediaobject img {
    max-width: inherit;
    min-width: 100%;
}
#title, .book, .docnav, #main > .preface, #main > .section, #main > .chapter, #main > .appendix {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 64em !important;
/*    padding-left: 3.6em !important;
    padding-right: 3.6em !important;
*/
}
@media screen and (max-width: 64em) {
#title, .book, .docnav, #main > .preface, #main > .section, #main > .chapter, #main > .appendix {
    padding-left: 1.8em;
    padding-right: 1.8em;
}
}
blockquote.blockquote {
    border-left: 0.6em solid #E6E6E6;
    padding-left: 1.8em;
}
@media screen and (max-width: 32em) {
blockquote.blockquote {
    background: none repeat scroll 0 0 #F2F2F2;
    margin: -1.8em 1.8em;
    padding: 1.8em 1.8em 0.01em 1.2em;
}
}
.one-half {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
    width: 50%;
}
.one-half:first-child {
    padding-left: 0;
    padding-right: 1.35em;
}
.one-half:last-child {
    padding-left: 1.35em;
    padding-right: 0;
}
.one-half:nth-child(2n+1) {
    padding-left: 0;
    padding-right: 1.35em;
}
.one-half:nth-child(2n) {
    padding-left: 1.35em;
    padding-right: 0;
}
.one-half.first {
    padding-left: 0;
    padding-right: 1.35em;
}
.one-half.last {
    padding-left: 1.35em;
    padding-right: 0;
}
.one-third {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    padding-left: 1.8009em;
    padding-right: 1.8009em;
    vertical-align: top;
    width: 33.3333%;
}
.one-third:nth-child(3n+3) {
    padding-left: 0.9em;
    padding-right: 0;
}
.one-third:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 0.9em;
}
.one-third.first {
    padding-left: 0;
    padding-right: 0.9em;
}
.one-third.second {
    padding-left: 1.8009em;
    padding-right: 1.8009em;
}
.one-third.third, .one-third.last {
    padding-left: 0.9em;
    padding-right: 0;
}
.two-thirds {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
    width: 66.6667%;
}
.two-thirds.first {
    padding-left: 0;
    padding-right: 0.8991em;
}
.two-thirds.last {
    padding-left: 0.8991em;
    padding-right: 0;
}
.one-quarter {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
    width: 25%;
}
.one-quarter:nth-child(4n+1) {
    padding-left: 0;
    padding-right: 2.025em;
}
.one-quarter:nth-child(4n+2) {
    padding-left: 0.675em;
    padding-right: 1.35em;
}
.one-quarter:nth-child(4n+3) {
    padding-left: 1.35em;
    padding-right: 0.675em;
}
.one-quarter:nth-child(4n+4) {
    padding-left: 2.025em;
    padding-right: 0;
}
.one-quarter.first {
    padding-left: 0;
    padding-right: 2.025em;
}
.one-quarter.second {
    padding-left: 0.675em;
    padding-right: 1.35em;
}
.one-quarter.third {
    padding-left: 1.35em;
    padding-right: 0.675em;
}
.one-quarter.fourth, .one-quarter.last {
    padding-left: 2.025em;
    padding-right: 0;
}
.three-quarters {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
    width: 75%;
}
.three-quarters:first-child {
    padding-left: 0;
    padding-right: 0.675em;
}
.three-quarters:last-child {
    padding-left: 0.675em;
    padding-right: 0;
}
@media screen and (max-width: 32em) {
.one-half:not(.no-break):not(.break-mobile), .two-thirds:not(.no-break):not(.break-mobile), .three-quarters:not(.no-break):not(.break-mobile) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.one-quarter:not(.no-break):not(.break-mobile), .one-third:not(.no-break):not(.break-mobile) {
    padding-left: 1.35em;
    padding-right: 1.35em;
    width: 50%;
}
.one-quarter:nth-child(2n+1):not(.no-break):not(.break-mobile), .one-third:nth-child(2n+1):not(.no-break):not(.break-mobile) {
    padding-left: 0;
}
.one-quarter:nth-child(2n):not(.no-break):not(.break-mobile), .one-third:nth-child(2n):not(.no-break):not(.break-mobile) {
    padding-right: 0;
}
.one-half .one-quarter:not(.no-break):not(.break-mobile), .one-half .three-quarters:not(.no-break):not(.break-mobile) {
    padding-left: 1.35em;
    padding-right: 1.35em;
}
.one-half .one-quarter.first:not(.no-break):not(.break-mobile), .one-half .three-quarters.first:not(.no-break):not(.break-mobile) {
    padding-left: 0;
}
.one-half .one-quarter.last:not(.no-break):not(.break-mobile), .one-half .three-quarters.last:not(.no-break):not(.break-mobile) {
    padding-right: 0;
}
.one-half .one-quarter:not(.no-break):not(.break-mobile) {
    width: 25%;
}
.one-half .three-quarters:not(.no-break):not(.break-mobile) {
    width: 75%;
}
}
@media screen and (max-width: 32em) {
.one-half:not(.no-break), .one-third:not(.no-break), .two-thirds:not(.no-break), .one-quarter:not(.no-break), .three-quarters:not(.no-break) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}
.one-half .one-quarter:not(.no-break) {
    width: 25%;
}
.one-half .three-quarters:not(.no-break) {
    width: 75%;
}
}
#title {
    height: 42px;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
}
@media screen and (max-width: 64em) {
#title {
    padding-left: 1.8em;
    padding-right: 1.8em;
}
}
#title .left, #title .right {
    text-decoration: none;
}
#title .left {
    float: left;
}
#title .left img {
    display: block;
}
#title .right {
    color: #000000;
    float: right;
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
}
#title .right:before {
    content: "Documentation";
    font-size: 21px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
}
#title .right img {
    display: none;
}

.docnav {
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    padding-bottom: 7.2em;
    padding-top: 3.6em;
    position: relative;
    text-align: center;
}
.docnav a {
    text-decoration: none;
}
.docnav li.previous {
    left: 50px;
    
}

.docnav .previous,
.docnav .next {
    position: absolute;
    top: 3.6em;
/*    width: 50%; */
}
.docnav .previous a, .docnav .next a {
    display: block;
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
}
.docnav .previous a:before, .docnav .next a:before {
    font-size: 8em;
    line-height: 1em;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
}
.docnav .previous a strong, .docnav .next a strong {
/*    display: none; */
}
.docnav li.next a strong,
.docnav li.previous a strong {
    background: none;
    padding: 0px;
}

#content {
    margin-left: 35em;
}

#content.noLtoc {
    margin-left: 5em;
}

#content ul.message {
    margin-left: 54px;
    margin-right: 1em;
}

#notices {
/*    padding-top: 1em !important; */
}

.docnav .previous {
    margin-right: 0.9em;
/*    right: 50%; */
    text-align: left;
}
.docnav .previous a:before {
/*    left: -0.15em; */
}
.docnav .next {
/*    left: 50%; */
    margin-left: 0.9em !important;
    right: 3.6em !important;
    text-align: right !important;
}
.docnav .next a:before {
    right: -0.50em;
}
.docnav .home, .docnav .up {
    display: inline-block;
}
.docnav .home a {
    left: 3.6em;
}
.docnav .up a {
    right: 3.6em;
}
.docnav.top {
/*    display: none; */
}
.docnav.top a strong {
    display: block;
}
.docnav.top .home {
    display: none;
}
#floatingtoc {
    display: none;
}
#container {
    padding: 0px;
}

#main {
    position: relative;
}
#navigation {
    background: none repeat scroll 0 0 #F9F9F9;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    margin-left: -30em;
    width: 29.6em;
}

#navigation.fixed {
    width: 0px;
    height: 3em;
    margin-left: -4.4em;
    background: none;
}

.wrapi {
    max-width: 120em !important;
}

#navigation > .toc {
    height: calc(100vh - 104px);
    background: none repeat scroll 0 0 #F9F9F9;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 1.8em;
    padding-bottom: 0em;
    position: fixed;
    text-align: left;
    width: 26em;
}
#navigation.fixed > .toc {
    display: none;
}

.docnav li.doctoc { display: none !important;}

#navigation.fixed {
    position: fixed;
}
#navigation.bottom {
    bottom: 0;
    top: auto;
}
.producttitle {
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    font-size: 1.75em;
    line-height: 1;
    margin-bottom: 1.02857em;
    margin-top: 2.05714em;
    padding-top: 0.75em;
    position: relative;
    text-transform: uppercase;
}

div.producttitle,
.book > .titlepage h1.title,
.authorgroup div,
.titlepage .corpauthor, 
.titlepage .edition,
.titlepage .releaseinfo {
    text-align: left !important;
}

.authorgroup {
    margin-bottom: 1.8em;
}
.abstract {
    margin-top: 1.8em;
}
/* BUGBUG this requires renaming products in books :(
.producttitle:before {
    content: "Red Hat";
    font-size: 0.7em;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
*/
.productname {
    font-weight: bold;
}

.titlepage .productname {
    display: block;
    font-weight: 300;
    font-size: 24.5px;
    white-space: normal;
    width: 8em;
}
.productnumber {
    color: #CC0000;
    display: block;
    font-weight: 700;
    font-size: 24.5px;
}
table {
    border: thin solid #CCCCCC;
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 1.8em;
    text-align: left;
    width: 100%;
}
table caption, table th, table td {
    padding: 0.9em;
    vertical-align: top;
}
table caption {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}
table th {
    font-weight: 600;
}
table thead tr {
    background-color: #E6E6E6;
}
table thead tr.no-wrap th {
    line-height: 2.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table tbody tr {
    border-top: thin solid #CCCCCC;
}
table tbody tr th {
    background-color: #E6E6E6;
    font-weight: 600;
}
table tbody tr.no-wrap td, table tbody tr.no-wrap th {
    line-height: 2.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table tfoot {
    color: #808080;
}
table tfoot tr {
    border-top: thin solid #CCCCCC;
}
table.fixed {
    box-sizing: border-box;
    table-layout: fixed;
}
table.fixed * {
    box-sizing: border-box;
}
.toc a {
    color: #4D4D4D !important;
    text-decoration: none;
}
.toc a:hover {
    color: #808080 !important;
}
.toc dt {
    border-bottom: medium none;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
}
.toc > dl > dt {
    border-bottom: 0.125em solid #EEEEEE;
    font-family: "Overpass","Open Sans","Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}
.toc > dd {
    padding-left: 1.35em;
}
.toc > dd > dl > dd {
    padding-left: 2.7em;
}

.admonition_header {
    margin: 0 !important;
    position: relative !important;
    text-transform: uppercase !important;
    top: -0.3em !important;
    background: none !important;
    padding-left: 0px !important;
}
.admonition_header code {
    text-transform: none !important;
}
.admonition_header p {
    margin-bottom: 0 !important;
}

div.admonition {
    padding-left: 0px !important;
    border: none !important;
    background-color: white;
}

.note, .important, .warning {
    margin-bottom: 1.8em !important;
    border-bottom: none !important;
}
.admonition p:last-child, .admonition .para:last-child {
    margin-bottom: 0 !important;
}
.note, .important {
    background-size: 2.7em auto !important;
    padding-left: 4.5em !important;
}
.note {
    background-image: url("../images/service_pattern_tile_positive.svg") !important;
    background-repeat: repeat-y !important;
}
.important {
    background-image: url("../images/service_pattern_tile_negative.svg") !important;
    background-repeat: repeat-y !important;
}
.warning {
    background-color: #333333 !important;
    border-radius: 0.25em !important;
    color: #FFFFFF !important;
    padding: 1.2006em 0.9em 1.2006em 4.5em !important;
    position: relative;
}
.warning > *, .warning .admonition_header strong {
    background-color: #333333 !important;
    color: #FFFFFF !important;
}

.warning:before {
    font-size: 2.7em !important;
    left: 0.36em !important;
    position: absolute !important;
    top: 0.36em !important;
}

/* toc hider */
.menu-toggle {
    background: none repeat scroll 0 0 #f9f9f9;
    height: 48px;
    right: -48px;
    line-height: 48px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
.menu-toggle:hover,
.menu-toggle:active {
    background: none repeat scroll 0 0 #f2f2f2;
}
.menu-toggle > span {
    background-color: #1a1a1a;
    border-radius: 1px;
    display: block;
    height: 3px;
    left: 50%;
    margin-left: -12px;
    margin-top: -1.5px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 24px;
}
.menu-toggle > span:before,
.menu-toggle > span:after {
    background-color: #1a1a1a;
    border-radius: 1.5px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.menu-toggle > span:before {
}
.menu-toggle > span:after {
    bottom: -6px;
}
.menu-toggle > span {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.menu-toggle > span:before {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform: rotate(90deg);
}

.menu-toggle > span:after {
    opacity: 0;
}

.fixed .menu-toggle > span {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform: rotate(0deg);
}
.fixed .menu-toggle > span:before {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    top: -6px;
}
.fixed .menu-toggle > span:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
}

/* less than 960px wide */
@media screen and (max-width: 960px) {
#navigation {
    margin-left: -19em;
    width: 18em;
}
#content {
    margin-left: 22em;
}
#navigation > .toc {
    width: 15em;
}
.menu-toggle {
    right: -57px;
}

#title, .book, .docnav, #main > .preface, #main > .section, #main > .chapter, #main > .appendix {
    margin-left: 1em !important;
}
#navigation.fixed {
    margin-left: -4.8em;
}

}

